<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.imufe.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.imufe.bean.Car" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cartypeid" property="cartypeid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="brandid" property="brandid" jdbcType="INTEGER" />
    <result column="hot" property="hot" jdbcType="INTEGER" />
    <result column="seatcnt" property="seatcnt" jdbcType="INTEGER" />
    <result column="gear" property="gear" jdbcType="VARCHAR" />
    <result column="trunkcnt" property="trunkcnt" jdbcType="INTEGER" />
    <result column="ridecnt" property="ridecnt" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="surplusnum" property="surplusnum" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
   <resultMap id="BaseResultMap1" type="cn.edu.imufe.bean.vo.CarDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cartypeid" property="cartypeid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="brandid" property="brandid" jdbcType="INTEGER" />
    <result column="hot" property="hot" jdbcType="INTEGER" />
    <result column="seatcnt" property="seatcnt" jdbcType="INTEGER" />
    <result column="gear" property="gear" jdbcType="VARCHAR" />
    <result column="trunkcnt" property="trunkcnt" jdbcType="INTEGER" />
    <result column="ridecnt" property="ridecnt" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="surplusnum" property="surplusnum" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="typename" property="typename" jdbcType="VARCHAR" />
    <result column="brandname" property="brandname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cartypeid, name, brandid, hot, seatcnt, gear, trunkcnt, ridecnt, price, surplusnum, 
    createtime, updatetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.imufe.bean.CarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.imufe.bean.CarExample" >
    delete from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.imufe.bean.Car" >
    insert into car (id, cartypeid, name, 
      brandid, hot, seatcnt, 
      gear, trunkcnt, ridecnt, 
      price, surplusnum, createtime, 
      updatetime)
    values (#{id,jdbcType=INTEGER}, #{cartypeid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{brandid,jdbcType=INTEGER}, #{hot,jdbcType=INTEGER}, #{seatcnt,jdbcType=INTEGER}, 
      #{gear,jdbcType=VARCHAR}, #{trunkcnt,jdbcType=INTEGER}, #{ridecnt,jdbcType=INTEGER}, 
      #{price,jdbcType=INTEGER}, #{surplusnum,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.imufe.bean.Car" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cartypeid != null" >
        cartypeid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="brandid != null" >
        brandid,
      </if>
      <if test="hot != null" >
        hot,
      </if>
      <if test="seatcnt != null" >
        seatcnt,
      </if>
      <if test="gear != null" >
        gear,
      </if>
      <if test="trunkcnt != null" >
        trunkcnt,
      </if>
      <if test="ridecnt != null" >
        ridecnt,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="surplusnum != null" >
        surplusnum,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cartypeid != null" >
        #{cartypeid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="brandid != null" >
        #{brandid,jdbcType=INTEGER},
      </if>
      <if test="hot != null" >
        #{hot,jdbcType=INTEGER},
      </if>
      <if test="seatcnt != null" >
        #{seatcnt,jdbcType=INTEGER},
      </if>
      <if test="gear != null" >
        #{gear,jdbcType=VARCHAR},
      </if>
      <if test="trunkcnt != null" >
        #{trunkcnt,jdbcType=INTEGER},
      </if>
      <if test="ridecnt != null" >
        #{ridecnt,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="surplusnum != null" >
        #{surplusnum,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.imufe.bean.CarExample" resultType="java.lang.Integer" >
    select count(*) from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update car
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cartypeid != null" >
        cartypeid = #{record.cartypeid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.brandid != null" >
        brandid = #{record.brandid,jdbcType=INTEGER},
      </if>
      <if test="record.hot != null" >
        hot = #{record.hot,jdbcType=INTEGER},
      </if>
      <if test="record.seatcnt != null" >
        seatcnt = #{record.seatcnt,jdbcType=INTEGER},
      </if>
      <if test="record.gear != null" >
        gear = #{record.gear,jdbcType=VARCHAR},
      </if>
      <if test="record.trunkcnt != null" >
        trunkcnt = #{record.trunkcnt,jdbcType=INTEGER},
      </if>
      <if test="record.ridecnt != null" >
        ridecnt = #{record.ridecnt,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.surplusnum != null" >
        surplusnum = #{record.surplusnum,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update car
    set id = #{record.id,jdbcType=INTEGER},
      cartypeid = #{record.cartypeid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      brandid = #{record.brandid,jdbcType=INTEGER},
      hot = #{record.hot,jdbcType=INTEGER},
      seatcnt = #{record.seatcnt,jdbcType=INTEGER},
      gear = #{record.gear,jdbcType=VARCHAR},
      trunkcnt = #{record.trunkcnt,jdbcType=INTEGER},
      ridecnt = #{record.ridecnt,jdbcType=INTEGER},
      price = #{record.price,jdbcType=INTEGER},
      surplusnum = #{record.surplusnum,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.imufe.bean.Car" >
    update car
    <set >
      <if test="cartypeid != null" >
        cartypeid = #{cartypeid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="brandid != null" >
        brandid = #{brandid,jdbcType=INTEGER},
      </if>
      <if test="hot != null" >
        hot = #{hot,jdbcType=INTEGER},
      </if>
      <if test="seatcnt != null" >
        seatcnt = #{seatcnt,jdbcType=INTEGER},
      </if>
      <if test="gear != null" >
        gear = #{gear,jdbcType=VARCHAR},
      </if>
      <if test="trunkcnt != null" >
        trunkcnt = #{trunkcnt,jdbcType=INTEGER},
      </if>
      <if test="ridecnt != null" >
        ridecnt = #{ridecnt,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="surplusnum != null" >
        surplusnum = #{surplusnum,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.imufe.bean.Car" >
    update car
    set cartypeid = #{cartypeid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      brandid = #{brandid,jdbcType=INTEGER},
      hot = #{hot,jdbcType=INTEGER},
      seatcnt = #{seatcnt,jdbcType=INTEGER},
      gear = #{gear,jdbcType=VARCHAR},
      trunkcnt = #{trunkcnt,jdbcType=INTEGER},
      ridecnt = #{ridecnt,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      surplusnum = #{surplusnum,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 自增部分 -->
   <select id="selectAllCarDetail" resultMap="BaseResultMap1" >
   SELECT a.*,c.typename,b.brandname
from car a,brand b,cartype c
WHERE a.brandid=b.brandid
and a.cartypeid=c.typeid
  </select>
  <select id="selectCarDetailById" resultMap="BaseResultMap1" parameterType="java.lang.Integer" >
   SELECT a.*,c.typename,b.brandname
from car a,brand b,cartype c
WHERE a.brandid=b.brandid
and a.cartypeid=c.typeid
and a.id=#{id}
  </select>
    <select id="selectCarDetailByBrandId" resultMap="BaseResultMap1" parameterType="java.lang.Integer" >
   SELECT a.*,c.typename,b.brandname
from car a,brand b,cartype c
WHERE a.brandid=b.brandid
and a.cartypeid=c.typeid
and a.brandid=#{brandid}
  </select>
      <select id="selectCarDetailByCarTypeId" resultMap="BaseResultMap1" parameterType="java.lang.Integer" >
   SELECT a.*,c.typename,b.brandname
from car a,brand b,cartype c
WHERE a.brandid=b.brandid
and a.cartypeid=c.typeid
and a.cartypeid=#{cartypeid}
  </select>
        <select id="selectCarDetailByLocationId" resultMap="BaseResultMap1" parameterType="java.lang.Integer" >
    SELECT a.*,c.typename,b.brandname
from car a,brand b,cartype c,relation d
WHERE a.brandid=b.brandid
and a.cartypeid=c.typeid
and a.id=d.carid
and d.cnt>0
and d.locationid=#{locationid}
  </select>
         <select id="selectAllCarDetailMoreSeatCnt" resultMap="BaseResultMap1" parameterType="java.lang.Integer" >
    SELECT a.*,c.typename,b.brandname
from car a,brand b,cartype c
WHERE a.brandid=b.brandid
and a.cartypeid=c.typeid
and a.seatcnt<![CDATA[ >= ]]> #{cnt}
  </select>
         <select id="selectAllCarDetailLessSeatCnt" resultMap="BaseResultMap1" parameterType="java.lang.Integer" >
      SELECT a.*,c.typename,b.brandname
from car a,brand b,cartype c
WHERE a.brandid=b.brandid
and a.cartypeid=c.typeid
and a.seatcnt <![CDATA[ < ]]> #{cnt}
  </select>
</mapper>